#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  float: right;
}

.menu ion-icon {
  font-size: 1.7em;
}

#telaLogin {
  text-align: center;
  margin-top: 70px;
  font-size: 2em;
}

#redefinirSenha {
  width: 100%;
}

.opcaoLogin {
  margin-top: 50px;
}

#container ion-icon {
  margin-left: 5px;
}
