<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nubanko
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button class="menu" color="dark" fill="clear">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-button>

  <h1 id="telaLogin">Login</h1>

  <div id="container">
    <ion-item>
      <ion-label position="floating">
        Login
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Senha
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button color="medium" fill="clear">
      Esqueceu a senha?
    </ion-button>

    <ion-button color="primary" shape="round" expand="block">
      Entrar
    </ion-button>

    <ion-button color="primary" fill="clear">
      Criar conta
    </ion-button>
  </div>
</ion-content>
